$base-theme-color: #446491;
$main-theme-color: #4b89ac;

$secondary-theme-color: #4b89ac;
$tertiary-theme-color: #e4fcf9;

$theme-border-top: 2px solid $main-theme-color;

$theme-border-radius: 15px 50px;

$theme-box-shadow: 0 0 4px #000;